<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786143399534-0659j47mfus8feklj2akdtsmk3opje3s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786143399534-0659j47mfus8feklj2akdtsmk3opje3s</string>
	<key>API_KEY</key>
	<string>AIzaSyDo0TjaC7jR_NpLHmi-ud7JFrBAoCqXU5s</string>
	<key>GCM_SENDER_ID</key>
	<string>786143399534</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosapp.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-86b67</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-86b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786143399534:ios:6adbb5eeb1242f3b61607f</string>
</dict>
</plist>